<element name="td-app">
  <template>

    <g-director path="/(\w*)" on-route="route"></g-director>

    <td-todos items="{{filtered}}"
              activeCount="{{activeCount}}"
              completedCount="{{completedCount}}"
              filter="{{filter}}"
              on-newitem="newItem"
              on-destroyitem="destroyItem"></td-todos>

    <!-- make two, they're reusable -->
    <td-todos items="{{filtered}}"
          activeCount="{{activeCount}}"
          completedCount="{{completedCount}}"
          filter="{{filter}}"
          on-newitem="newItem"
          on-destroyitem="destroyItem"></td-todos>

  </template>
  <script>
    this.component({
      items: [
        {id: 1, title: "foo", completed: true},
        {id: 2, title: "goo", completed: false}
      ],
      ready: function() {
        this.itemsChanged();
      },
      route: function(inEvent) {
        if (this.filter != inEvent.detail) {
          console.log("route: setting [filter] to [%s]", inEvent.detail);
          this.filter = inEvent.detail || "all";
          this.filterItems();
        }
      },
      itemsChanged: function() {
        this.completedCount =
          this.items.filter(this.filters.completed).length;
        this.activeCount = this.items.length - this.completedCount;
        this.filterItems();
      },
      filterItems: function() {
        var fn = this.filters[this.filter];
        this.filtered = fn ? this.items.filter(fn) : this.items;
        console.log("set [filtered] to ", this.filtered);
      },
      newItem: function(inEvent, inTitle) {
        var title = String(inTitle).trim();
        if (title) {
          this.items.push({
            id: this.items.length,
            title: inTitle,
            completed: false
          });
          this.itemsChanged();
        }
      },
      destroyItem: function(inEvent, inItem) {
        var i = this.items.indexOf(inItem);
        if (i >= 0) {
          this.items.splice(i, 1);
        }
      },
      filters: {
        active: function(inItem) {
          return !inItem.completed;
        },
        completed: function(inItem) {
          return inItem.completed;
        }
      }
    });
  </script>
</element>