<element name="td-app">
  <link rel="components" href="../lib/components/g-director.html">
  <link rel="components" href="td-model.html">
  <link rel="components" href="td-todos.html">
  <template>
    <g-director path="/(\w*)" on-route="route"></g-director>

    <!-- make one, they're modular -->
    <td-model id="one" filter="{{filter}}"></td-model>
    <td-todos id="t_one" todos="{{one}}" filter="{{filter}}"
              activeCount="{{one.activeCount}}"></td-todos>

    <!-- make two, they're reusable -->
    <td-model id="two" filter="{{filter}}"></td-model>
    <td-todos id="t_two" todos="{{two}}" filter="{{filter}}"
              activeCount="{{two.activeCount}}"></td-todos>
  </template>
  <script>
    this.component({
      ready: function() {
        this.one = this.$.one.data;
        this.one.items = [
          {id: 1, title: "foo", completed: true},
          {id: 3, title: "flew", completed: false},
          {id: 4, title: "flu", completed: false},
          {id: 5, title: "roux", completed: false},
          {id: 6, title: "rue", completed: false},
          {id: 7, title: "slough", completed: false},
          {id: 8, title: "slew", completed: false}
        ];
        this.two = this.$.two.data;
        this.two.items = [
          {id: 1, title: "wee", completed: true},
          {id: 2, title: "see", completed: false},
          {id: 3, title: "gee", completed: false}
        ];
      },
      route: function(inEvent) {
        console.log("route: setting [filter] to [%s]", inEvent.detail);
        this.filter = inEvent.detail || "all";
      }
   });
  </script>
</element>