<!--
/*
 * Copyright 2012 The Toolkitchen Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style
 * license that can be found in the LICENSE file.
 */
-->
<element name="pi-dropdown-button" attributes="src, selected">
  <link rel="stylesheet" href="css/pi-dropdown-button.css" />
  <link rel="components" href="../../../toolkit/src/g-icon-button.html"/>
  <link rel="components" href="../../../toolkit/src/g-overlay.html">
  <link rel="components" href="../../../toolkit/src/g-menu.html"/>
  <template>
    <div class="container">
      <g-icon-button id="button" on-click="toggle" src="{{src}}"></g-icon-button>
      <g-overlay id="overlay" class="slideup">
        <div class="arrow-border"></div>
        <div class="arrow"></div>
        <g-menu id="menu" selected="{{selected}}" on-click="toggle">
          <content select="*"></content>
        </g-menu>
      </g-overlay>
    </div>
  </template>
  <script>
    this.component({
      selected: 0,
      publish: {
        toggle: function() {
          this.$.overlay.toggle();
          this.$.button.active = this.$.overlay.opened;
        },
        get selection() {
          return this.$.menu.selection;
        }
      }
    });
  </script>
</element>
