<!--
/*
 * Copyright 2012 The Toolkitchen Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style
 * license that can be found in the LICENSE file.
 */
-->
<element name="pi-items-view" attributes="layout view">
  <link rel="stylesheet" href="css/pi-items-view.css" />
  <template>
    <div class="view flexbox flex {{layout}} {{view}}">
      <template iterate="entries">
        <div class="box flexbox flex">
          <template iterate>
            <div class="column flexbox flex-column flex {{col}}">
              <template iterate="rows">
                <div class="entry flexbox flex-column flex" on-click="entryClick">
                  <div class="image flex" style="background-image: url({{imgSrc}});"></div>
                  <div class="desc">{{desc}}</div>
                </div>
              </template>
            </div>
          </template>
        </div>
      </template>
    </div>
  </template>
  <script>
    this.component({
      publish: {
        entries: []
      },
      bind: {
        entries: null
      },
      process: function(inEntries) {
        var n = document.createElement('div');
        inEntries.forEach(function(entry) {
          // scrape image url
          if (entry.content) {
            var m$ = entry.content.match(/src="(.*?)"/);
            entry.imgSrc = m$ && m$[1];
          }
          // unescape html content
          if (entry.contentSnippet) {
            n.innerHTML = entry.contentSnippet;
            entry.desc = n.textContent;
          }
        });
      },
      entriesOutput: function(inEntries) {
        this.process(inEntries);
        var views = [];
        for (var i=0; i < inEntries.length; i += 4) {
          views.push([
            {col: 'first', rows: inEntries.slice(i, i+2)},
            {col: 'second', rows: inEntries.slice(i+2, i+4)}
          ]);
        }
        return views;
      },
      entryClick: function(e) {
        this.fireEvent('select', {entry: e.currentTarget.model});
      }
    });
  </script>
</element>
