<!--
/*
 * Copyright 2012 The Toolkitchen Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style
 * license that can be found in the LICENSE file.
 */
-->
<element name="pi-toolbar" attributes="label">
  <link rel="stylesheet" href="css/pi-toolbar.css" />
  <template>
    <div class="toolbar">
      <content select=".left"></content>
      <label id="label" class="label">{{label}}</label>
      <content></content>
    </div>
  </template>
  <script>
    this.component();
  </script>
</element>
