/* base.css overrides */
*[showing="0"],
*[showing="false"] {
  display: none;
}

#filters li.selected a {
	font-weight: bold;
}

#todo-list li div[completed] label {
	color: #a9a9a9;
	text-decoration: line-through;
}
