/*
 * Copyright 2013 The Polymer Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style
 * license that can be found in the LICENSE file.
 */
@host {
  :scope {
    font-family: 'Helvetica Neue', Helvetica, Arial, 'open sans', sans-serif;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
}

[main] {
  position: absolute !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: white;
  overflow: hidden;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2), 0 4px 10px rgba(0, 0, 0, 0.5);
  background: white;
}

#listPanel {
  width: 360px;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-flex-flow: column;
  flex-direction: column;
  background: #333 url(../images/ribbon_bg.png) repeat-y;
  font-size: 14px;
  color: white;
}

#list {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  display: block;
  max-height: 100%;
  min-height: 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

input {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  -webkit-appearance: none;
  color: white;
  background-color: transparent;
  opacity: 0.8;
  font-size: 18px;
  padding: 0 16px;
  border: none;
  outline: 0;
  margin: 0;
}

.item {
  height: 60px;
  line-height: 60px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  padding-left: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.item.polymer-selected {
  background-color: #000;
}
