<!--
/*
 * Copyright 2013 The Polymer Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style
 * license that can be found in the LICENSE file.
 */
-->
<link rel="import" href="../../../toolkit-ui/elements/g-app.html"/>
<link rel="import" href="../../../toolkit-ui/elements/g-panels.html"/>
<link rel="import" href="../../../toolkit-ui/elements/g-menu-item.html"/>
<link rel="import" href="../../../toolkit-ui/elements/g-ribbon.html"/>
<link rel="import" href="pi-toolbar.html"/>
<link rel="import" href="pi-toolbar-buttons.html"/>
<link rel="import" href="pi-feed-viewer.html"/>
<link rel="import" href="pi-explore.html"/>
<link rel="import" href="pi-home.html"/>
<link rel="import" href="pi-accounts.html"/>
<link rel="import" href="pi-accounts-model.html"/>
<element name="pi-app" extends="g-app" on-keyup="keyupHandler">
  <link rel="stylesheet" href="css/pi-app.css" />
  <template>
    <g-panels id="panels" selected="{{selectedPanel}}" transition="flow" autoselect style="display: none;" on-select="panelSelectHandler">
      <g-ribbon id="ribbon" class="custom-panel" label="Pica" selected="{{ribbonSelected}}" valueattr="label" on-activate="showMain">
        <g-menu-item label="Home" src="../images/ribbon_home_lightreg.png" iconsize="32"></g-menu-item>
        <g-menu-item label="Topics" src="../images/ribbon_topics_lightreg.png" iconsize="32"></g-menu-item>
        <g-menu-item label="Explore" src="../images/ribbon_explore_lightreg.png" iconsize="32"></g-menu-item>
        <g-menu-item label="Accounts" src="../images/ribbon_accounts_lightreg.png" iconsize="32"></g-menu-item>
      </g-ribbon>
      <div id="main" on-tap="showMain" hideactionbar="{{hideActionbar}}">
        <pi-toolbar label="{{toolbarLabel}}" nav="{{nav}}" hideactionbar="{{hideActionbar}}" on-nav="navAction">
          <pi-link-button id="linkButton" link="{{story.link}}"></pi-link-button>
          <pi-view-button id="viewButton" layout="{{selectedLayout}}"></pi-view-button>
          <pi-action-button></pi-action-button>
          <g-icon-button src="../images/refresh.png" on-tap="reloadAction"></g-icon-button>
        </pi-toolbar>
        <g-panels id="contentPanels" selected="{{ribbonSelected}}" transition="none">
          <div id="Home" on-ready="homeReadyHandler">
            <div class="panel-loading"></div>
            <template dehydrated>
              <pi-home stocks="{{$.accountsModel.stocks}}"></pi-home>
            </template>
          </div>
          <pi-feed-viewer id="Topics" topics="{{$.accountsModel.topics}}" panel="{{selectedSubPanel}}" 
              layout="{{layout}}" topicslayout="grid" story="{{story}}"></pi-feed-viewer>
          <pi-explore id="Explore" panel="{{selectedSubPanel}}"></pi-explore>
          <div id="Accounts" on-ready="accountsReadyHandler">
            <div class="panel-loading"></div>
            <template dehydrated>
              <pi-accounts accounts="{{$.accountsModel}}"></pi-accounts>
            </template>
          </div>
        </g-panels>
      </div>
    </g-panels>
    <pi-accounts-model id="accountsModel"></pi-accounts-model>
  </template>
  <script>
    var ESCAPE_KEY = 27;
    
    Polymer.register(this, {
      ribbonSelected: 'Topics',
      selectedPanel: 'main',
      selectedLayout: '',
      selectedSubPanel: '',
      ready: function() {
        // TODO(sorvell): avoid intermediate layout by showing app content
        // only when components are ready.
        requestAnimationFrame(function() {
          this.$.panels.style.display = null;
        }.bind(this));
        this.super();
        // hydrate
        if (location.search.indexOf('hydrate') >= 0) {
          this.hydrate(this.$.Home);
          this.hydrate(this.$.Accounts);
        }
        // screen size change
        var mq = window.matchMedia('(max-width: 800px)');
        mq.addListener(this.screenSizeChange.bind(this));
        this.screenSizeChange(mq);
        // initialization
        this.selectedLayout = this.layout;
        this.selectedSubPanel = 'topics';
      },
      screenSizeChange: function(inQuery) {
        if (inQuery.matches && this.selectedLayout == 'quilt') {
          // use stream layout if user select quilt and in phone size
          this.layout = 'stream';
        } else {
          this.layout = this.selectedLayout ||
              (inQuery.matches ? 'stream' : 'quilt');
        }
      },
      selectedLayoutChanged: function() {
        this.layout = this.selectedLayout;
      },
      getSelectedContentPanel: function() {
        return this.$.contentPanels.getSelectedPanel();
      },
      navAction: function() {
        var p = this.getSelectedContentPanel();
        if (p.canprevious) {
          p.previous();
        } else {
          this.$.panels.toggleBetween('ribbon', 'main');
        }
      },
      showMain: function() {
        this.selectedPanel = 'main';
      },
      reloadAction: function() {
        var p = this.getSelectedContentPanel();
        p.reload && p.reload();
      },
      ribbonSelectedChanged: function() {
        this.updateToolbar();
      },
      selectedSubPanelChanged: function() {
        this.updateToolbar();
      },
      updateToolbar: function() {
        var p = this.getSelectedContentPanel();
        this.toolbarLabel = p.canprevious && p.topic ?
            p.topic.title : this.ribbonSelected;
        this.nav = p.canprevious ? 'back' : 'menu';
        this.hideActionbar = this.ribbonSelected != 'Topics';
        this.$.viewButton.style.display = this.selectedSubPanel != 'stories' ? 'none' : '';
        this.$.linkButton.style.display = this.selectedSubPanel != 'story' ? 'none' : '';
      },
      keyupHandler: function(e) {
        if (e.keyCode == ESCAPE_KEY) {
          this.navAction();
        }
      },
      // instantiate lazy content
      panelSelectHandler: function(e, inDetails) {
        if (e.target == this.$.panels) {
          this.hydrate(this.getSelectedContentPanel());
        }
      },
      // instantiate dehydrated templates inside this nodes
      hydrate: function(inNode) {
        if (!inNode.hydrated) {
          inNode.hydrated = true;
          var t = inNode.querySelector('[dehydrated]');
          if (t) {
             t.bind('bind', this);
             dirtyCheck();
          }
        }
      },
      // TODO(sorvell): since we cannot do proper property bindings dynamically
      // we assign data to dynamic components as they become ready.
      accountsReadyHandler: function(e) {
        //e.target.accounts = this.$.accountsModel;
        this.$.Accounts.classList.add('ready');
      },
      homeReadyHandler: function(e) {
        //e.target.stocks = this.$.accountsModel.stocks;
        this.$.Home.classList.add('ready');
      }
    });
  </script>
</element>
