<!--
/*
 * Copyright 2012 The Toolkitchen Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style
 * license that can be found in the LICENSE file.
 */
-->
<element name="pi-accounts">
  <link rel="stylesheet" href="css/pi-accounts.css" />
  <link rel="components" href="../../../toolkit/components/g-icon-button.html"/>
  <template>
    <div class=" item">
      <div class="flex"></div>
      <button class="button" on-tap="reset">Restore Defaults</button>
    </div>
    <div class="header item">Finance</div>
    <div>
      <template iterate="accounts.stocks">
        <div class="item">
          <div class="flex">{{.}}</div>
          <g-icon-button src="../images/close.svg" on-tap="removeStock"></g-icon-button>
        </div>
      </template>
    </div>
    <div class="item">
      <div class="item-label">Symbol: </div><input id="symbol" autocorrect="off" on-keyup="stockKeyupHandler" />
      <g-icon-button src="../images/add.svg" on-tap="addStock"></g-icon-button>
    </div>
    <div class="header item">Topics</div>
    <div>
      <template iterate="accounts.topics">
        <div class="item">
          <div class="flex">{{title}}</div>
          <g-icon-button src="../images/close.svg" on-tap="removeTopic"></g-icon-button>
        </div>
      </template>
    </div>
    <div class="item no-border">
      <div class="item-label">Name: </div><input id="name" on-keyup="topicKeyupHandler" />
    </div>
    <div class="item">
      <div class="item-label">Feed: </div><input id="feed" class="flex" on-keyup="topicKeyupHandler" />
      <g-icon-button src="../images/add.svg" on-tap="addTopic"></g-icon-button>
    </div>
  </template>
  <script>
    this.component({
      publish: {
        accounts: null
      },
      addStock: function() {
        var s = this.$.symbol.value;
        if (s) {
          this.accounts.addStock(s);
          this.$.symbol.value = '';
        }
      },
      removeStock: function(inEvent, inDetail, inSender) {
        this.accounts.removeStock(inSender.model);
      },
      addTopic: function() {
        var n = this.$.name.value;
        var f = this.$.feed.value;
        if (n && f) {
          this.accounts.addTopic({title: n, feed: f});
          this.$.name.value = '';
          this.$.feed.value = '';
        }
      },
      removeTopic: function(inEvent, inDetail, inSender) {
        this.accounts.removeTopic(inSender.model);
      },
      reset: function() {
        this.accounts.reset();
      },
      stockKeyupHandler: function(e) {
        if (e.keyCode == 13) {
          this.addStock();
        }
      },
      topicKeyupHandler: function(e) {
        if (e.keyCode == 13) {
          this.addTopic();
        }
      }
    });
  </script>
</element>
