<!--
/*
 * Copyright 2012 The Toolkitchen Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style
 * license that can be found in the LICENSE file.
 */
-->
<element name="pi-accounts-model">
  <script>
    var DEFAULT_TOPICS = [
      {title: 'Technology', feed: [
        {title: 'The Verge', feed: 'http://www.theverge.com/rss/index.xml'},
        {title: 'Engadget', feed: 'http://feeds.engadget.com/weblogsinc/engadget'}]},
      {title: 'Sports', feed: [
        {title: 'Deadspin', feed: 'http://feeds.gawker.com/deadspin/full'}]},
      {title: 'Music', feed: [
        {title: 'Indie Shuffle', feed: 'http://feeds.feedburner.com/indieshuffle'},
        {title: 'Create Digital Music', feed: 'http://createdigitalmusic.com/feed/'}]},
      {title: 'Art', feed: [
        {title: 'Wooster Collective', feed: 'http://feeds.feedburner.com/wooster'},
        {title: 'Doodlers Anonymous', feed: 'http://feeds.feedburner.com/DoodlersAnonymous'},
        {title: 'but does it float', feed: 'http://feeds2.feedburner.com/ButDoesItFloat?format=xml'}]},
      {title: 'Fashion', feed: [
        {title: 'Hybebeast', feed: 'http://feeds.feedburner.com/hypebeast/feed'}]},
      {title: 'Architecture', feed: [
        {title: 'Dezeen', feed: 'http://feeds.feedburner.com/dezeen'},
        {title: 'Design Milk Architecutre', feed: 'http://feeds.feedburner.com/DesignMilkArchitecture'}]},
      {title: 'Design', feed: [
        {title: 'Design Milk', feed: 'http://feeds.feedburner.com/design-milk'},
        {title: 'Yummy Fresh grain', feed: 'http://feeds.feedburner.com/GrainEdit'},
        {title: 'Designspiration', feed: 'http://feeds.feedburner.com/dspn'}]},
      {title: 'Food', feed: [
        {title: 'The Kitchn', feed: 'http://feeds.thekitchn.com/apartmenttherapy/thekitchn'},
        {title: 'Scanwiches', feed: 'http://scanwiches.com/rss'}]}
      /*
      {title: 'Rock Paper Shotgun', feed: 'http://feeds.feedburner.com/RockPaperShotgun'},
      {title: 'The Big Picture', feed: 'http://www.boston.com/bigpicture/index.xml'},
      {title: 'Cute Overload', feed: 'http://cuteoverload.com/feed/'},
      {title: 'MAKE', feed: 'http://blog.makezine.com/index.xml'},
      {title: 'PopSugar', feed: 'http://www.popsugar.com/posts/feed'},
      */
    ];
    
    var DEFAULT_CATEGORIES = ['Technology', 'Sports', 'Music', 'Art', 'Fashion', 'Architecture', 'Design', 'Food'];
    
    var DEFAULT_STOCKS = ['GOOG', 'AAPL'];
    
    var ACCOUNTS_STORAGE_NAME = 'pica-accounts-model-1';
    
    this.component({
      publish: {
        topics: null,
        categories: null,
        stocks: null,
        addTopic: function(inTopic) {
          this.addItem(this.topics, inTopic);
          this.updateTopics();
        },
        removeTopic: function(inTopic) {
          this.removeItem(this.topics, inTopic);
          this.updateTopics();
        },
        addFeed: function(inFeed) {
          for (var i=0, t; t = this.topics[i]; i++) {
            if (t.title == inFeed.category) {
              t.feed.push({title: inFeed.title, feed: inFeed.feed});
              return;
            }
          }
          this.addTopic({title: inFeed.category,
            feed: [{title: inFeed.title, feed: inFeed.feed}]});
        },
        removeFeed: function(inFeed) {
          this.topics.forEach(function(t) {
            if (t.feed) {
              this.removeItem(t.feed, inFeed);
            }
          }.bind(this));
        },
        addCategory: function(inCategory) {
          this.addItem(this.categories, inCategory);
        },
        removeCategory: function(inCategory) {
          this.removeItem(this.categories, inCategory);
        },
        addStock: function(inStock) {
          this.addItem(this.stocks, inStock);
        },
        removeStock: function(inStock) {
          this.removeItem(this.stocks, inStock);
        },
        reset: function() {
          this.topics = DEFAULT_TOPICS.slice(0);
          this.categories = DEFAULT_CATEGORIES.slice(0);
          this.stocks = DEFAULT_STOCKS.slice(0);
          this.save();
          this.load();
        }
      },
      ready: function() {
        this.load();
      },
      addItem: function(inItems, inItem) {
        inItems.push(inItem);
        this.save();
      },
      removeItem: function(inItems, inItem) {
        var i = inItems.indexOf(inItem);
        if (i >= 0) {
          inItems.splice(i, 1);
        }
        this.save();
      },
      load: function() {
        var s = window.localStorage.getItem(ACCOUNTS_STORAGE_NAME);
        if (s) {
          var a = JSON.parse(s);
          this.topics = a.topics;
          this.categories = a.categories;
          this.stocks = a.stocks;
        } else {
          this.reset();
        }
      },
      save: function() {
        window.localStorage.setItem(ACCOUNTS_STORAGE_NAME, JSON.stringify({
          topics: this.topics, categories: this.categories, stocks: this.stocks}));
      },
      updateTopics: function() {
        // force to mutate topics to trigger property changed (e.g. itemsChanged in pi-items-view)
        this.topics = this.topics.slice(0);
      }
    });
  </script>
</element>
