<!--
/*
 * Copyright 2012 The Toolkitchen Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style
 * license that can be found in the LICENSE file.
 */
-->
<element name="pi-accounts-model">
  <script>
    var DEFAULT_TOPICS = [
      {title: 'The Verge', imgSrc: 'https://lh3.ggpht.com/NAigEH6J985CuPR2r71cJ6C5mr1JGShoyFOjKAh_vV7Chxx8zsMOIwdKyS89xsJ77w=w705', feed: 'http://www.theverge.com/rss/index.xml'},
      {title: 'Rock Paper Shotgun', imgSrc: 'http://www.rockpapershotgun.com/images/09/nov/RPSUnityLogo.jpg', feed: 'http://feeds.feedburner.com/RockPaperShotgun'},
      {title: 'Engadget', imgSrc: 'http://www.engadget.com/common/images/4844163528551596.jpg.39721570957757146', feed: 'http://feeds.engadget.com/weblogsinc/engadget'},
      {title: 'The Kitchn', imgSrc: 'http://assets.hellocotton.com/avatars/square-256-911-12b30c1b425ea51d0b6ae70c8eae8346.png', feed: 'http://feeds.thekitchn.com/apartmenttherapy/thekitchn'},
      {title: 'Deadspin', imgSrc: 'http://www.userlogos.org/files/logos/Rog/deadspin.com-02.png', feed: 'http://feeds.gawker.com/deadspin/full'},
      {title: 'The Big Picture', imgSrc: 'http://cache.boston.com/universal/site_graphics/blogs/bigpicture/big_picture_header.jpg', feed: 'http://www.boston.com/bigpicture/index.xml'},
      {title: 'Dinosaur Comics', imgSrc: 'http://www.qwantz.com/comics/comic2-2228.png', feed: 'http://rsspect.com/rss/qwantz.xml'},
      {title: 'Design Milk', imgSrc: 'http://2.design-milk.com/images/2006/08/DMLogoTM-carton-icon-72dpi-100SQ.jpg', feed: 'http://feeds.feedburner.com/design-milk'},
      {title: 'Cute Overload', imgSrc: 'http://upload.wikimedia.org/wikipedia/en/b/b4/Cute_overload_logo.jpg', feed: 'http://cuteoverload.com/feed/'},
      {title: 'MAKE', imgSrc: 'http://makezine.com/images/logos/makeLogo_url.gif', feed: 'http://blog.makezine.com/index.xml'}
    ];
    
    var TOPICS_STORAGE_NAME = 'pi-accounts-topics';
    
    this.component({
      publish: {
        topics: null,
        addTopic: function(inTopic) {
          this.topics.push(inTopic);
          this.save();
        },
        removeTopic: function(inTopic) {
          var i = this.topics.indexOf(inTopic);
          if (i >= 0) {
            this.topics.splice(i, 1);
          }
          this.save();
        }
      },
      ready: function() {
        this.load();
      },
      load: function() {
        var s = window.localStorage.getItem(TOPICS_STORAGE_NAME);
        if (s) {
          this.topics = JSON.parse(s);
        } else {
          this.topics = DEFAULT_TOPICS.slice(0);
        }
      },
      save: function() {
        window.localStorage.setItem(TOPICS_STORAGE_NAME, JSON.stringify(this.topics));
        // force to mutate topics to trigger property changed (e.g. itemsChanged in pi-items-view)
        this.topics = this.topics.slice(0);
      }
    });
  </script>
</element>
