<!--
/*
 * Copyright 2012 The Toolkitchen Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style
 * license that can be found in the LICENSE file.
 */
-->
<element name="pi-detail" attributes="title">
  <template>
    <style>
      #title {
        font-size: 30px;
        padding: 20px;
        padding-bottom: 0;
      }
      
      #content {
        padding: 20px;
      }
      
      @media screen and (max-width: 800px) {
        #title {
          font-size: 20px;
        }
        
        #detail img {
          max-width: 100%;
          height: auto;
        }
      }
    </style>
    <div id="detail">
      <div id="title">{{title}}</div>
      <div id="content"></div>
    </div>
  </template>
  <script>
    this.component({
      publish: {
        content: ''
      },
      contentChanged: function() {
        this.$.content.innerHTML = this.content.length &&
          this.content.replace(/(<iframe.*?>.*?<\/iframe>)/g, '');
      }
    });
  </script>
</element>
