<!--
/*
 * Copyright 2012 The Toolkitchen Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style
 * license that can be found in the LICENSE file.
 */
-->
<element name="pi-home" attributes="stocks">
  <link rel="components" href="../../../pantry/CoolClock/coolclock.html"/>
  <link rel="components" href="../../../pantry/Stock/stock.html"/>
  <link rel="components" href="../../../pantry/Weather/wu-weather.html"/>
  <template>
    <style>
      @host {
        overflow: auto;
        -webkit-overflow-scrolling: touch;
      }
      
      .widgets {
        width: 1024px;
        box-sizing: border-box;
        padding: 6px;
        margin: 0 auto;
      }
      
      .widgets > *:not(template) {
        display: inline-block;
        width: 491px;
        height: 250px;
        box-sizing: border-box;
        vertical-align: top;
        margin: 8px 6px;
        padding: 6px;
        -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.2);
      }
      
      .center {
        text-align: center;
      }
      
      x-coolclock {
        display: block;
        padding-top: 30px;
      }
      
      wu-weather {
        -webkit-box-shadow: none;
        text-align: left;
        padding: 0;
      }
      
      @media screen and (max-width: 1023px) {
        .widgets {
          width: 512px;
        }
      }
      
      @media screen and (max-width: 600px) {
        .widgets {
          width: auto;
        }
        
        .widgets > *:not(template) {
          display: block;
          width: auto;
          padding: 10px;
          margin-bottom: 12px;
        }
      }
    </style>
    <div class="widgets">
      <div class="center">
        <x-coolclock></x-coolclock>
      </div>
      <div class="center">
        <wu-weather autoupdate="false"></wu-weather>
      </div>
      <template iterate="stocks">
        <x-stock symbol="{{}}" autoupdate="false"></x-stock>
      </template>
    </div>
  </template>
  <script>
    this.component();
  </script>
</element>
