<!--
/*
 * Copyright 2012 The Toolkitchen Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style
 * license that can be found in the LICENSE file.
 */
-->
<element name="pi-home" attributes="stocks">
  <link rel="components" href="../../../pantry/CoolClock/coolclock.html"/>
  <link rel="components" href="../../../pantry/Stock/stock.html"/>
  <link rel="components" href="../../../pantry/Weather/wu-weather.html"/>
  <template>
    <style>
      @host {
        overflow: auto;
        -webkit-overflow-scrolling: touch;
      }
      
      .widgets {
        padding: 4px;
      }
      
      .widgets > *:not(template) {
        display: inline-block;
        min-width: 480px;
        min-height: 225px;
        vertical-align: top;
        margin: 8px 6px;
        padding: 6px;
        -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.2);
      }
      
      .center {
        text-align: center;
      }
      
      .center > * {
        display: block;
        padding-top: 25px;
      }
      
      @media screen and (max-width: 800px) {
        .widgets > *:not(template) {
          display: block;
          min-width: 0;
          padding: 20px;
        }
      }
    </style>
    <div class="widgets">
      <div class="center">
        <x-coolclock></x-coolclock>
      </div>
      <wu-weather autoupdate="false"></wu-weather>
      <template iterate="stocks">
        <x-stock symbol="{{.}}" autoupdate="false"></x-stock>
      </template>
    </div>
  </template>
  <script>
    this.component();
  </script>
</element>
