<!--
/*
 * Copyright 2012 The Toolkitchen Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style
 * license that can be found in the LICENSE file.
 */
-->
<element name="pi-home">
  <link rel="components" href="../../../toolkit/more/coolclock/coolclock.html"/>
  <template>
    <style>
      @host {
        padding: 8px;
        text-align: center;
      }
    </style>
    <x-coolclock></x-coolclock>
  </template>
  <script>
    this.component();
  </script>
</element>
