<!--
/*
 * Copyright 2012 The Toolkitchen Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style
 * license that can be found in the LICENSE file.
 */
-->
<element name="pi-items-view" attributes="layout view">
  <link rel="stylesheet" href="css/pi-items-view.css" />
  <template>
    <div class="view {{layout}} {{view}}">
      <template iterate="boxes">
        <div class="box">
          <template iterate>
            <div class="inner {{box}}">
              <template iterate="items">
                <div class="pi-item" on-tap="itemClick">
                  <div class="image" style="background-image: url({{imgSrc}});" showing="{{imageShowing}}"></div>
                  <div class="title">{{title}}
                    <span class="unread-count">{{unread}}</span>
                  </div>
                  <div class="desc">{{desc}}</div>
                  <div class="source">
                    <img class="source-icon" src="{{sourceIcon}}" />
                    <span class="source-title">{{source}}</span>
                    <span>{{since}}</span>
                    <span showing="{{read}}">(read)</span>
                  </div>
                </div>
              </template>
            </div>
          </template>
        </div>
      </template>
      <div id="more" on-tap="loadMore">Load more...</div>
    </div>
  </template>
  <script>
    this.component({
      publish: {
        pageSize: 6,
        items: null,
        selected: null
      },
      ready: function() {
        this.node.setAttribute('touch-action', 'scroll');
      },
      itemsChanged: function() {
        var b = [], l = this.items && this.items.length;
        for (var i=0; i < l; i += 4) {
          b.push([
            {box: 'one', items: this.items.slice(i, i+2)},
            {box: 'two', items: this.items.slice(i+2, i+4)}
          ]);
        }
        this.boxes = this.allBoxes = b;
        if (this.pageSize > 0) {
          this.boxes = this.allBoxes.slice(0, this.pageSize);
        }
        this.updateMoreShowing();
        this.scrollToTop();
      },
      scrollToTop: function() {
        webkitRequestAnimationFrame(function() {
          this.node.scrollTop = 0;
        }.bind(this));
      },
      updateMoreShowing: function() {
        this.$.more.style.display = this.boxes.length < this.allBoxes.length ? 
          null : 'none';
      },
      loadMore: function() {
        var l = this.boxes.length;
        var more = this.allBoxes.slice(l, l+this.pageSize);
        more.forEach(function(m) {
          this.boxes.push(m);
        }, this);
        this.updateMoreShowing();
      },
      itemClick: function(inEvent, inDetail, inSender) {
        this.selected = inSender.model;
        this.send('select', {item: inSender.model});
      }
    });
  </script>
</element>
