<!--
/*
 * Copyright 2012 The Toolkitchen Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style
 * license that can be found in the LICENSE file.
 */
-->
<element name="pi-items-view" attributes="layout view">
  <link rel="stylesheet" href="css/pi-items-view.css" />
  <template>
    <div class="view flexbox flex {{layout}} {{view}}">
      <template iterate="boxes">
        <div class="box flexbox">
          <template iterate>
            <div class="inner flexbox flex-column flex {{box}}">
              <template iterate="items">
                <div class="pi-item flexbox flex-column flex" on-tap="itemClick">
                  <div class="image flex" style="background-image: url({{imgSrc}});"></div>
                  <div class="title">{{title}}</div>
                  <div class="desc">{{desc}}</div>
                  <div class="flex space"></div>
                  <div class="source">
                    <span class="source-title">{{source}}</span>
                    <span>{{since}}</span>
                  </div>
                </div>
              </template>
            </div>
          </template>
        </div>
      </template>
    </div>
    <!--<div on-tap="loadMore">Load more...</div>-->
  </template>
  <script>
    var timeSince = function(inDate) {
      var s = Math.floor(((new Date()) - inDate) / 1000);
      var t = Math.floor(s / 31536000);
      if (t > 1) {
        return stringify(t, "y");
      }
      t = Math.floor(s / 2592000);
      if (t > 1) {
        return stringify(t, "m");
      }
      t = Math.floor(s / 86400);
      if (t >= 1) {
        return stringify(t, "d");
      }
      t = Math.floor(s / 3600);
      if (t >= 1) {
        return stringify(t, "h");
      }
      t = Math.floor(s / 60);
      if (t > 1) {
        return stringify(t, "m");
      }
      return stringify(Math.floor(s), "s");
    }
    
    var stringify = function(inNum, inUnit) {
      return inNum + inUnit;/* + (inNum == 1 ? '' : 's');*/
    }
  
    this.component({
      publish: {
        pageSize: -1,
        items: null,
        selected: null
      },
      ready: function() {
        this.node.setAttribute('touch-action', 'scroll');
      },
      process: function(inItems) {
        var n = document.createElement('div');
        inItems.forEach(function(item) {
          // scrape image url
          if (item.content) {
            var m$ = item.content.match(/<img[^>]+src="([^">]+)"/);
            item.imgSrc = m$ && m$[1];
          }
          // unescape html content
          if (item.contentSnippet) {
            n.innerHTML = item.contentSnippet;
            n.innerHTML = n.textContent;
            item.desc = n.textContent.trim();
            if (!item.desc) {
              item.desc = item.title;
            }
          }
          // time since
          if (item.publishedDate) {
            item.since = timeSince(new Date(item.publishedDate));
          }
        });
      },
      itemsChanged: function() {
        var b = [], l = this.items && this.items.length;
        if (l) {
          this.process(this.items);
        }
        for (var i=0; i < l; i += 4) {
          b.push([
            {box: 'one', items: this.items.slice(i, i+2)},
            {box: 'two', items: this.items.slice(i+2, i+4)}
          ]);
        }
        this.boxes = this.allBoxes = b;
        if (this.pageSize > 0) {
          this.boxes = this.allBoxes.slice(0, this.pageSize);
        }
      },
      loadMore: function() {
        var l = this.boxes.length;
        var more = this.allBoxes.slice(l, l+this.pageSize);
        more.forEach(function(m) {
          this.boxes.push(m);
        }, this);
      },
      itemClick: function(inEvent, inDetail, inSender) {
        this.selected = inSender.model;
        this.send('select', {item: inSender.model});
      }
    });
  </script>
</element>
