<!--
/*
 * Copyright 2012 The Toolkitchen Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style
 * license that can be found in the LICENSE file.
 */
-->
<element name="pi-ribbon" extends="g-selector" attributes="label selected">
  <link rel="stylesheet" href="css/pi-ribbon.css" />
  <link rel="components" href="../../../toolkit/src/g-selector.html"/>
  <template>
    <div class="app-label">{{label}}</div>
    <shadow></shadow>
  </template>
  <script>
    this.component({
      selectedChanged: function() {
        this.$super();
        this.send('select');
      }
    });
  </script>
</element>
