<!--
/*
 * Copyright 2012 The Toolkitchen Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style
 * license that can be found in the LICENSE file.
 */
-->
<element name="pi-story" attributes="title story">
  <template>
    <style>
      .body {
        max-width: 640px;
        margin: 0 auto;
        font-size: 12px;
        padding: 10px;
      }
       
      #header {
        padding: 20px 0;
        display: -webkit-flex;
        display: -webkit-box;
      }
      
      #header > a {
        padding: 0 0 0 10px;
      }
      
      #title {
        font-size: 26px;
        -webkit-flex: 1;
        -webkit-box-flex: 1;
      }
      
      #linkButton {
        x-webkit-transform: rotate(135deg);
      }
      
      #author {
        color: #666;
      }
      
      #detail {
        padding-top: 20px;
      }
      
      #detail img {
        pointer-events: none;
      }
      
      @media screen and (max-width: 800px) {
        #detail img {
          max-width: 100%;
          height: auto;
        }
      }
    </style>
    <div class="body" touch-action="pan-y">
      <div id="header">
        <div id="title">{{story.title}}</div>
        <a href="{{story.link}}" target="{{targetWindow}}">
          <g-icon-button id="linkButton" src="../images/web.png"></g-icon-button>
        </a>
      </div>
      <div id="author">by {{story.author}} on {{story.publishedLocaleDate}}</div>
      <div id="detail">
        <div id="content"></div>
      </div>
    </div>
  </template>
  <script>
    this.component({
      targetWindow: '_blank',
      publish: {
        content: ''
      },
      ready: function() {
        if (!this.node.hasAttribute('tabindex')) {
          this.node.tabIndex = -1;
        }
      },
      storyChanged: function() {
        this.content = this.story.content;
        if (!this.story.publishedLocaleDate) {
          var d = new Date(this.story.publishedDate);
          this.story.publishedLocaleDate = d.toLocaleString();
        }
      },
      contentChanged: function() {
        var content = this.content || '';
        if (content) {
          content = content.replace(/(<iframe.*?>.*?<\/iframe>)/g, '');
          content = content.replace(/<a/g, '<a target="' + this.targetWindow + '" ');
        }
        this.$.content.innerHTML = content;
      }
    });
  </script>
</element>
