<!--
/*
 * Copyright 2012 The Toolkitchen Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style
 * license that can be found in the LICENSE file.
 */
-->
<element name="pi-speech-mic">
  <link rel="components" href="../../../toolkit/components/g-component.html">
  <template>
    <style>
      #mic {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background: url(../images/mic_darkreg.png) center no-repeat;
        cursor: pointer;
      }
      
      #mic[recognizing=true] {
        background-color: red;
        -webkit-animation: zoom 0.75s linear infinite;
      }
      
      @-webkit-keyframes zoom {
        0% {-webkit-transform: scale(0.75);}
        100% {-webkit-transform: scale(1);}
      }
    </style>
    <div id="mic" recognizing="{{recognizing}}" on-click="micClick"></div>
  </template>
  <script>
    this.component({
      publish: {
        lang: 'en-US'
      },
      ready: function() {
        if (window.webkitSpeechRecognition) {
          this.recognition = new webkitSpeechRecognition();
          this.recognition.continuous = true;
          this.recognition.interimResults = true;
          this.recognition.lang = this.lang;
          
          this.recognition.onstart = this.start.bind(this);
          this.recognition.onresult = this.result.bind(this);
          this.recognition.onerror = this.error.bind(this);
          this.recognition.onend = this.end.bind(this);
        } else {
          this.$.mic.hidden = true;
        }
      },
      micClick: function() {
        if (this.recognizing) {
          this.recognition.stop();
        } else {
          this.recognition.start();
        }
      },
      start: function(e) {
        this.recognizing = true;
      },
      result: function(e) {
        var t, ft = '';
        for (var i = 0, r; r = e.results[i]; i++) {
          t = r[0] && r[0].transcript || '';
          ft += t;
        }
        this.send('result', {results: e.results, transcript: t, finalTranscript: ft});
      },
      error: function(e) {
      },
      end: function(e) {
        this.recognizing = false;
      }
    });
  </script>
</element>
