<!--
/*
 * Copyright 2012 The Toolkitchen Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style
 * license that can be found in the LICENSE file.
 */
-->
<element name="pi-toolbar" attributes="label layout panel subpanel">
  <link rel="components" href="../../../toolkit/components/g-toolbar.html"/>
  <link rel="components" href="../../../toolkit/components/g-icon-button.html"/>
  <link rel="components" href="../../../toolkit/components/g-menu-button.html"/>
  <link rel="components" href="../../../toolkit/components/g-menu-item.html"/>
  <template>
    <style>
      g-menu-item.hidden-wide {
        display: none;
      }
        
      @media screen and (max-width: 800px) {
        g-menu-item.hidden-narrow {
          display: none;
        }
        
        g-menu-item.hidden-wide {
          display: block;
        }
        
        g-toolbar > label {
          -webkit-box-pack: center;
          -webkit-justify-content: center;
        }
        
        .responsive > *:not(:last-child) {
          display: -webkit-box;
          -webkit-box-flex: 1;
          -webkit-flex: 1;
        }
      }
    </style>
    <g-toolbar>
      <g-icon-button id="navButton" src="../images/menu.png" toolaction="nav" on-tap="toolClick"></g-icon-button>
      <label class="flex">{{label}}</label>
      <g-toolbar class="responsive">
        <g-menu-button src="../images/view_quilt.png" selected="{{layout}}">
          <g-menu-item name="grid" label="Grid" src="../images/view_module.png"></g-menu-item>
          <g-menu-item name="quilt" label="Quilt" class="hidden-narrow" src="../images/view_quilt.png"></g-menu-item>
          <g-menu-item name="list" label="List" src="../images/view_list.png"></g-menu-item>
          <g-menu-item name="stream" label="Stream" src="../images/view_stream.png"></g-menu-item>
        </g-menu-button>
        <g-menu-button src="../images/plus.png">
          <g-menu-item src="../images/create.png">Post a Comment</g-menu-item>
          <g-menu-item src="../images/hangout.png">Share Link</g-menu-item>
          <g-menu-item src="../images/mail.png">Email Link</g-menu-item>
          <g-menu-item src="../images/favorite.png">Add to Favorites</g-menu-item>
        </g-menu-button>
        <g-icon-button src="../images/refresh.png" toolaction="refresh" on-tap="toolClick"></g-icon-button>
      </g-toolbar>
      <g-icon-button id="sourceButton" src="../images/drawer.png" toolaction="source" on-tap="toolClick"></g-icon-button>
    </g-toolbar>
  </template>
  <script>
    this.component({
      ready: function() {
        var mq = window.matchMedia('(max-width: 800px)');
        mq.addListener(this.screenLayoutChange.bind(this));
        this.screenLayoutChange(mq);
      },
      screenLayoutChange: function(inQuery) {
        if (inQuery.matches && this.layout == 'quilt') {
          this.layout = 'grid';
        }
      },
      toolClick: function(inEvent, inDetail, inSender) {
        this.send(inSender.getAttribute('toolaction') || 'toolaction');
      },
      panelChanged: function() {
        this.$.navButton.active = this.panel == 'ribbon';
        this.$.sourceButton.active = this.panel == 'source';
      },
      subpanelChanged: function() {
        this.$.navButton.src = 'images/' + 
          (this.subpanel == 'topics' ? 'menu.png' : 'arrow_left.png');
      }
    });
  </script>
</element>
