<!--
/*
 * Copyright 2013 The Polymer Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style
 * license that can be found in the LICENSE file.
 */
-->
<link rel="import" href="../../../polymer-ui-elements/polymer-ui-toolbar/polymer-ui-toolbar.html"/>
<link rel="import" href="../../../polymer-ui-elements/polymer-ui-icon-button/polymer-ui-icon-button.html"/>
<polymer-element name="pi-toolbar" attributes="label nav hideActionbar">
  <template>
    <link rel="stylesheet" href="css/pi-toolbar.css" />
    <polymer-ui-toolbar>
      <polymer-ui-icon-button icon="{{nav}}" on-tap="navAction"></polymer-ui-icon-button>
      <div class="toolbar-label flex">{{label}}</div>
      <polymer-ui-toolbar id="actionbar" hidden?="{{hideActionbar}}" responsive>
        <content></content>
      </polymer-ui-toolbar>
    </polymer-ui-toolbar>
  </template>
  <script>
    Polymer('pi-toolbar', {
      nav: 'menu',
      navAction: function(event) {
        this.fire('nav-action');
        event.cancelBubble = true;
        event.stopPropagation();
      }
    });
  </script>
</polymer-element>
