g-panels {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  min-height: 0;
  -webkit-user-select: none;
}

g-ajax {
  display: none;
}

g-panels > * {
  box-sizing: border-box;
  -webkit-transition: -webkit-transform .3s;
  -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2), 0 4px 10px rgba(0, 0, 0, 0.5);
  background: white;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
}

#videoPanel {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  -webkit-box-orient: vertical;
  -webkit-flex-flow: column;
  background: whitesmoke;
}

#listPanel {
  width: 260px;
  display: -webkit-box;
  display: -webkit-flex;
  -webkit-box-orient: vertical;
  -webkit-flex-flow: column;
  font-size: 14px;
  background: whitesmoke;
}

#morePanel {
  right: 0;
  left: auto;
  width: 200px;
  padding: 20px;
  color: #EBEBEB;
  background: #333;
}

.list {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  display: block;
  /*
  TODO(sorvell): styling changes due to tabIndex=-1 on panels
  must isolate. Use max-height to avoid scrolling being compeltely broken.
  */
  max-height: 100%;
  min-height: 0;
  overflow: auto;
}

input {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -webkit-appearance: none;
  background: whitesmoke;
  opacity: 0.8;
  font-size: 18px;
  padding: 0 8px;
  border: none;
  outline: 0;
  margin: 0;
}

.input-clear {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: white;
  color: #777;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
}

.input-clear:before {
  content: 'x';
}

.list {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  min-height: 0;
  overflow: auto;
}

.item {
  box-sizing: border-box;
  border-bottom: 1px solid #e1e1e1;
  height: 40px;
  line-height: 40px;
  padding-left: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.item.selected {
  background-color: lightblue;
}

.toolbar {
  display: -webkit-box;
  display: -webkit-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  border-bottom: 1px solid #ccc;
  min-height: 60px;
}

.toolbar > * {
  margin: 0 4px;
}

.toolbar-title {
  text-align: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  min-height: 0;
}

yt-video {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  display: block;
  min-height: 0;
}

