/*
 * Copyright 2012 The Toolkitchen Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style
 * license that can be found in the LICENSE file.
 */
g-panels {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  overflow: hidden;
}

#ribbon {
  width: 260px;
  background-color: #333;
  color: white;
  font-size: 15px;
  overflow: auto;
}

#ribbon.narrow-layout {
  /* TODO(sorvell); calc + transitions crash safari so abort */
  /*width: -webkit-calc(100% - 60px);
  width: calc(100% - 60px);*/
  left: 0;
  right: 60px;
  width: auto;
}

#source.narrow-layout {
  left: 60px;
  width: auto;
  right: 0;
}

#main {
  display: -webkit-box;
  display: -webkit-flex;
  -webkit-box-orient: vertical;
  -webkit-flex-flow: column;
  background: white; 
}

#source {
  width: 340px;
  background-color: #4D4D4D;
}

g-toolbar > label {
  display: -webkit-box;
  display: -webkit-flex;
  font-size: 21px;
}

@media screen and (max-width: 800px) {
  #contentPanels {
    margin-bottom: 60px;
  }
}
