/*
 * Copyright 2013 The Polymer Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style
 * license that can be found in the LICENSE file.
 */
 @host {
   :scope {
      /* fit to container */
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    
      /* layout content using flexbox */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-flex-flow: column;
      -ms-flex-direction: column;
      flex-direction: column;
      
      /* convenient defaults */
      font-family: 'Helvetica Neue', Helvetica, Arial, 'open sans', sans-serif;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }
 }

[hidden] {
  visibility: hidden;
}

#panels, #contentPanels, #Topics {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  overflow: hidden;
  height: 100%;
}

#ribbon {
  width: 260px;
  height: 100%;
}

#ribbon.narrow-layout {
  left: 0;
  right: 60px;
  width: auto;
}

#main {
	position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: white; 
}

[tool]:not(#actionbar), polymer-ui-toolbar > * {
  margin: 0px 8px 0 8px !important;
}

@media screen and (max-width: 800px) {
  #actionbar > *:not(:last-child):not([hidden]) {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
}

#Accounts > .panel-loading, #Home > .panel-loading {
	position: absolute;
  width: 50px;
  height: 50px;
  left: 50%;
  bottom: 50%;
  margin: -25px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  background: url(../../images/loading_icon.svg);
}

#Accounts.ready > .panel-loading, #Home.ready > .panel-loading {
  display: none;
}
    
@-webkit-keyframes spin {
  0% {-webkit-transform: rotate(0deg);}
  100% {-webkit-transform: rotate(359deg);}
}

@keyframes spin {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(359deg);}
}

@media screen and (max-width: 800px) {
  #contentPanels:not([hideactionbar=true]) {
    margin-bottom: 60px;
  }
}
