/*
 * Copyright 2012 The Toolkitchen Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style
 * license that can be found in the LICENSE file.
 */
@host {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.item {
  padding: 0 20px;
  height: 60px;
  border-bottom: 1px solid #ddd;
  display: -webkit-box;
  display: -webkit-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  font-size: 15px;
}

.item.no-border {
  border-bottom: 0;
}

.item > .item-input-label {
  min-width: 80px;
  color: #888;
  font-weight: bold;
}

.item > input {
  height: 32px;
  width: 100px;
  vertical-align: middle;
  margin-right: 10px;
  font-size: 15px;
}

.item > .flex {
  display: -webkit-box;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
}

.header {
  background-color: #4D4D4D;
  color: #eee;
  font-size: 20px;
}

.accounts-title {
  background-color: #eee;
  color: #888;
  font-weight: bold;
}

.accounts-title-icon {
  margin-left: -8px;
}

.category-select-value {
  padding: 0 4px 0 4px;
}

.button {
  -webkit-appearance: none;
  padding: 8px 14px 8px;
  background-color: #e6e6e6;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(0.25, #ffffff), to(#e6e6e6));
  border: 1px solid #ccc;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 3px;
  font-size: 14px;
  color: #333;
}

.button:hover {
  background-position: 0 -15px;
}

.button:active {
  -webkit-box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  color: #555;
}