/*
 * Copyright 2012 The Toolkitchen Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style
 * license that can be found in the LICENSE file.
 */
@host {
  display: -webkit-box;
  display: -webkit-flex;
}

@host #panels {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  position: relative;
}

@host #panels > * {
  background: white;
  font-size: 15px;
}

@host #panels pi-items-view {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

#loading {
  display: none;
  position: absolute;
  bottom: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  margin: -50px;
  z-index: 1;
  background: rgba(0,0,0,0.7);
  text-align: center;
  font-size: 16px;
  color: #fff;
  border-radius: 3px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
}

#loading div {
  padding-top: 40px;
}

#loading[loading=true] {
  display: block;
}
