/*
 * Copyright 2012 The Toolkitchen Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style
 * license that can be found in the LICENSE file.
 */
@host {
  display: -webkit-box;
  display: -webkit-flex;
}

/* flex box */
.flexbox {
  display: -webkit-box;
  display: -webkit-flex;
  -webkit-box-orient: horizontal;
  -webkit-flex-flow: row;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-flex-flow: column;
}

.flex {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
}

/* base */
.pi-item {
  padding: 20px;
  border: 1px solid #ddd;
  border-top: 0;
  border-left: 0;
}

.image {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.title {
  padding: 10px 0 0;
  font-weight: bold;
}

.topics .title {
  display: block;
  padding: 0 4px;
  font-size: 18px;
  font-weight: bold;
  color: #555;
}

.desc {
  padding: 10px 0;
  font-size: 12px;
}

.topics .desc {
  display: none;
}

.source {
  color: #666;
  font-size: 11px;
}

.source-title {
  font-weight: bold;
  padding-right: 8px;
}

/* quilt layout */
.quilt .one .pi-item {
  -webkit-box-flex: 2;
  -webkit-flex: 2;
  width: 600px;
}

.quilt .one .pi-item:last-child {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
}

.quilt .two .pi-item {
  width: 300px;
}

.quilt .space {
  -webkit-box-flex: 0;
  -webkit-flex: 0;
}

/* grid layout */
.grid.view {
  display: block;
}

.grid .pi-item {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  width: 0;
  height: 360px;
}

.grid .image {
  height: 180px;
  -webkit-box-flex: 0;
  -webkit-flex: 0;
}

.grid.topics .image {
  height: 280px;
}

.grid.topics .pi-item {
  height: 300px;
}

.grid .inner {
  width: 0;
  -webkit-box-orient: horizontal;
  -webkit-flex-flow: row;
}

/* list layout */
.list.view, .list .box {
  display: block;
}

.list .pi-item {
  display: block;
  width: auto;
  height: auto;
  border-right: 0;
}

.list.topics .pi-item {
  height: 60px;
}

.list .desc {
  display: block;
}

.list .title {
  display: block;
  font-weight: bold;
}

.list.topics .title {
  line-height: 60px;
  font-size: 18px;
  color: #000;
}

.list.topics .desc {
  display: none;
}

/* small screen size e.g. phone */
@media screen and (max-width: 800px) {
  .view, .box {
    display: block;
  }
  
  .inner {
    -webkit-box-orient: horizontal;
    -webkit-flex-flow: row;
  }
  
  .grid .inner {
    width: auto;
  }
  
  .list .inner {
    display: block;
  }
  
  .pi-item {
    height: 300px;
  }
  
  .inner .pi-item {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    padding: 10px;
  }
  
  .inner .pi-item:last-child {
    border-right: 0;
  }
}