/*
 * Copyright 2012 The Toolkitchen Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style
 * license that can be found in the LICENSE file.
 */
@host {
  display: -webkit-box;
  display: -webkit-flex;
}

.flexbox {
  display: -webkit-box;
  display: -webkit-flex;
  -webkit-box-orient: horizontal;
  -webkit-flex-flow: row;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-flex-flow: column;
}

.flex {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
}

/* quilt */
.one .pi-item {
  -webkit-box-flex: 2;
  -webkit-flex: 2;
  width: 600px;
}

.one .pi-item:last-child {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
}

.two .pi-item {
  width: 300px;
}

.pi-item {
  padding: 20px;
  border: 1px solid #ddd;
  border-top: 0;
  border-left: 0;
}

.image {
  /*background-color: #eee;*/
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.desc {
  height: 70px;
  padding: 10px 4px;
}

.topics .desc {
  display: none;
}

.one .desc {
  height: 30px;
}

.title {
  display: none;
}

.since {
  display: none;
}

/* grid */
.grid.view {
  display: block;
}

.grid .pi-item {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  width: 0;
  height: 300px;
}

.grid .inner {
  width: 0;
  -webkit-box-orient: horizontal;
  -webkit-flex-flow: row;
}

.grid .desc {
  height: 70px;
}

/* list */
.list.view, .list .box {
  display: block;
}

.list .pi-item {
  display: block;
  width: auto;
  height: 100px;
  border-right: 0;
}

.list.topics .pi-item {
  height: 60px;
}

.list .desc {
  display: block;
  height: auto;
}

.list .title {
  display: block;
  padding: 0 4px;
  font-weight: bold;
}

.list.topics .title {
  line-height: 60px;
  font-size: 18px;
}

.list.topics .desc {
  display: none;
}

.list .since {
  display: block;
  float: right;
  color: #aaa;
}

.list.topics .since {
  display: none;
}

/* small screen size e.g. phone */
@media screen and (max-width: 800px) {
  .view, .box {
    display: block;
  }
  
  .inner {
    -webkit-box-orient: horizontal;
    -webkit-flex-flow: row;
  }
  
  .grid .inner {
    width: auto;
  }
  
  .list .inner {
    display: block;
  }
  
  .inner .pi-item {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    padding: 10px;
  }
  
  .pi-item {
    height: 300px;
  }
  
  .inner .pi-item:last-child {
    border-right: 0;
  }
  
  .inner .desc {
    height: 70px;
  }
  
  .list .inner .desc {
    height: auto;
  }
}