/*
 * Copyright 2012 The Toolkitchen Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style
 * license that can be found in the LICENSE file.
 */
@host {
  display: -webkit-flex;
  display: -webkit-box;
}

.flexbox {
  display: -webkit-flex;
  display: -webkit-box;
  -webkit-flex-flow: row;
  -webkit-box-orient: horizontal;
}

.flex-column {
  -webkit-flex-flow: column;
  -webkit-box-orient: vertical;
}

.flex {
  -webkit-flex: 1;
  -webkit-box-flex: 1;
}

/* quilt */
.one .pi-item {
  -webkit-flex: 2;
  -webkit-box-flex: 2;
  width: 600px;
}

.one .pi-item:last-child {
  -webkit-flex: 1;
  -webkit-box-flex: 1;
}

.two .pi-item {
  width: 300px;
}

.pi-item {
  padding: 20px;
  border: 1px solid #ddd;
  border-top: 0;
  border-left: 0;
}

.image {
  background-color: #eee;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.desc {
  height: 70px;
  padding: 10px 4px;
}

.topics .desc {
  display: none;
}

.one .desc {
  height: 30px;
}

/* grid */
.grid.view {
  display: block;
}

.grid .pi-item {
  -webkit-flex: 1;
  -webkit-box-flex: 1;
  width: 0;
  height: 300px;
}

.grid .inner {
  width: 0;
  -webkit-flex-flow: row;
  -webkit-box-orient: horizontal;
}

.grid .desc {
  height: 70px;
}

/* small screen size e.g. phone */
@media screen and (max-width: 800px) {
  .flexbox {
    display: block;
  }
  
  .flex-column {
    display: -webkit-flex;
    display: -webkit-box;
    -webkit-flex-flow: row;
    -webkit-box-orient: horizontal;
  }
  
  .grid .inner {
    width: auto;
  }
  
  .one .pi-item, .two .pi-item {
    box-sizing: border-box;
    display: -webkit-flex;
    display: -webkit-box;
    -webkit-flex-flow: column;
    -webkit-box-orient: vertical;
    -webkit-flex: 1;
    -webkit-box-flex: 1;
    padding: 10px;
  }
  
  .pi-item {
    height: 300px;
  }
  
  .one .pi-item:last-child, .two .pi-item:last-child {
    border-right: 0;
  }
  
  .one .desc, .two .desc {
    height: 70px;
  }
}