/*
 * Copyright 2012 The Toolkitchen Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style
 * license that can be found in the LICENSE file.
 */

/* base */
.view {
  width: 100%;
}

.pi-item {
  position: relative;
  box-sizing: border-box;
  padding: 20px;
  border: 1px solid #ddd;
  border-top: 0;
  border-left: 0;
  font-size: 15px;
}

#more {
  padding: 20px;
  background: whitesmoke;
  cursor: hand;
  -webkit-user-select: none;
}

.image {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.title {
  padding: 10px 0;
  font-weight: bold;
}

.topics .title {
  display: block;
  font-size: 18px;
  color: #333;
}

.desc {
  padding-bottom: 10px;
  font-size: 12px;
}

.topics .desc {
  display: none;
}

.view:not(.topics) .pi-item[imageshowing=false] .image {
  display: none;
}

.pi-item[imageshowing=true] .desc {
  display: none;
}

.source {
  position: relative;
  color: #666;
  font-size: 11px;
}

.topics .source {
  display: none;
}

.source > * {
  vertical-align: bottom;
}

.source-icon {
  position: relative;
  top: 2px;
  padding-right: 4px;
}

.source-title {
  font-weight: bold;
  padding-right: 8px;
}

/* list layout */
.list .pi-item {
  border-right: 0;
}

.list .pi-item .desc {
  display: block;
}

/* quilt layout */
.quilt.view {
  display: inline-block;
  height: 100%;
  white-space: nowrap;
  vertical-align: top;
  font-size: 0;
}

.quilt .box {
  display: inline-block;
  height: 100%;
}

.quilt .inner {
  display: inline-block;
  height: 100%;
  vertical-align: top;
  white-space: normal;
}

.quilt .one .pi-item {
  width: 600px;
  height: 70%;
}

.quilt .one .pi-item:last-child {
  height: 30%;
}

.quilt .two .pi-item {
  width: 300px;
  height: 50%;
}

.quilt.topics .title {
  position: absolute;
  bottom: 20px;
}

.quilt .image {
  height: 50%;
}

.quilt .one .pi-item .image {
  height: 80%;
}

.quilt .one .pi-item:last-child .image {
  height: 60%;
}

/* grid layout */
.grid .box {
  /* to remove whitespace between inline blocks,
     alternative is to use float: left */
  font-size: 0;
}

.grid .inner {
  display: inline-block;
  width: 50%;
}

.grid .pi-item {
  display: inline-block;
  width: 50%;
  height: 300px;
  vertical-align: top;
}

.grid .image {
  height: 130px;
}

.grid.topics .image {
  height: 220px;
}

.grid .source {
  position: absolute;
  bottom: 10px;
}

.grid .two .pi-item:last-child {
  border-right: 0;
}

/* small screen size e.g. phone */
@media screen and (max-width: 800px) {
  .grid .inner {
    display: block;
    width: 100%;
  }
  
  .grid .pi-item:last-child {
    border-right: 0;
  }
}

@media screen and (max-width: 480px) {
  .grid .pi-item {
    padding: 10px;
  }
  
  .grid.topics .pi-item {
    height: 200px;
  }
  
  .grid.topics .image {
    height: 120px;
  }
  
  .grid .image {
    height: 80px;
  }
}