.toolbar-label {
  font-size: 21px;
  margin: 0;
}

[hidden] {
	visibility: hidden;
}

/*@polyfill polymer-ui-toolbar > *:not(#actionbar) */
content::-webkit-distributed(> *) {
  margin: 0px 8px 0 8px;
}

@media screen and (max-width: 800px) {
  /*@polyfill #actionbar > *:not(:last-child):not([hidden]) */
  #actionbar content::-webkit-distributed(*:not(:last-child):not([hidden])) {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
}
