/*
 * Copyright 2012 The Toolkitchen Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style
 * license that can be found in the LICENSE file.
 */
@host {
  display: -webkit-flex;
}

g-panels {
  -webkit-flex: 1;
  position: relative;
  overflow: hidden;
}

#ribbon {
  width: 260px;
  background-color: #333;
  color: white;
  font-size: 15px;
  overflow: auto;
}

#main {
  display: -webkit-flex;
  -webkit-flex-flow: column;
  background: white; 
}

#main > pi-feed-viewer {
  -webkit-flex: 1;
}

#source {
  width: 340px;
  background-color: #4D4D4D;
}

#actionBar {
  display: -webkit-flex;
  -webkit-align-items: center;
}

#actionBar g-icon-button, #actionBar pi-dropdown-button {
  margin-right: 20px;
}

@media screen and (max-width: 800px) {
  #actionBar {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    height: 60px;
    z-index: 1;
    box-sizing: border-box;
    padding-left: 20px;
    background-color: #ddd;
    box-shadow: inset 0px 0px 3px rgba(255, 255, 255, 1);
    border-top: 1px solid rgba(0, 0, 0, 0.16);
  }
  
  #feedViewer {
    margin-bottom: 60px;
  }
}
